* {
    margin: 0;
    padding: 0;
}
body {
    padding: 15px;
    background-color: #dfe0e4;
}


.cover-box {
    display: flex;
}
.cover-left {
    width: 400px;   
    height: 280px;
    margin-right: 20px;
    overflow: hidden;
}
.cover-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-preview {
    width: 200px;
    height: 140px;
    background-color: #ccc;
    margin-bottom: 20px;
    overflow: hidden;
}