
.main {
    width: 980px;
    height: 455px;
    margin-left: 220px;
    margin-top: 10px;
}

/* 侧边栏 */
.c_nav {
    display: none;
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translateX(600px);
    width: 70px;
    margin-left: 5px;
    background-color: royalblue;
}
.c_nav ul li {
    position: relative;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-bottom: 1px solid #fff;
    font-size: 16px;
    color: #fff;
    overflow: hidden;
}
.c_nav ul li span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 100%; */
    background-color: skyblue;
    cursor: pointer;
    transform: rotate(90deg);
    transform-origin: left bottom;
    transition: all 0.5s;
}
.c_nav ul li:hover span {
    transform: rotate(0deg);
}
.c_nav_current {
    background-color: slateblue;
}

/* 轮播图 */
.focus {
    position: relative;
    float: left;
    width: 721px;
    height: 455px;
    overflow: hidden;
}
.focus ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 600%;
}
.focus ul li {
    float: left;
}
.arrow-left,
.arrow-right {
    display: none;
    position: absolute;
    top: 50%;
    z-index: 2;
    transform: translateY(-50%);
    width: 40px;
    height: 60px;
    background: rgba(0,0,0,0.3);
    text-align: center;
    line-height: 60px;
    /* color: #fff; */
    /* font-size: 18px; */
}
.arrow-left {
    left: 0;
    border-radius: 0 30px 30px 0;
}
.arrow-right {
    right: 0;
    border-radius: 30px 0 0 30px;
}
.circle {
    position: absolute;
    bottom: 10px;
    left: 350px;
    z-index: 2;
    height: 20px;
    padding-top: 5px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
}
.circle li {
    float: left;
    width: 10px;
    height: 10px;
    /* border: 2px solid rgba(255,255,255,0.5); */
    background-color: #fff;
    margin: 0 3px;
    border-radius: 50%;
    cursor: pointer;
}
.circle .current {
    background-color: royalblue;
}

/* 右侧新闻 */
.newsflash {
    float: right;
    width: 250px;
    height: 455px;
}

.news {
    height: 165px;
    border: 1px solid #e4e4e4;
}
.news_hd {
    height: 33px;
    line-height: 33px;
    border-bottom: 1px dotted #e4e4e4;
    padding: 0 15px;
}
.news_hd h5 {
    float: left;
    font-size: 14px;
}
.news_hd .more {
    float: right;
}
.news_hd .more::after {
    content: '\e920';
    font-family: 'icomoon';
}
.news_bd {
    padding: 5px 15px 0;
}
.news_bd ul li {
    height: 24px;
    line-height: 24px;

    /* 超出文字显示省略号 */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.lifeservice {
    overflow: hidden;
    height: 209px;
    border: 1px solid #e4e4e4;
    border-top: 0;
}
.lifeservice ul {
    width: 252px;
}
.lifeservice ul li {
    float: left;
    width: 63px;
    height: 71px;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    text-align: center;
}
.lifeservice ul li i {
    display: inline-block;
    margin-top: 12px;
    width: 24px;
    height: 28px;
    background: url(../images/icons.png) no-repeat -19px -15px;
}
.lifeservice ul li:nth-child(2) i {
    background-position: -80px -14px;
}
.lifeservice ul li:nth-child(3) i {
    background-position: -142px -14px;
}
.lifeservice ul li:nth-child(4) i {
    background-position: -206px -13px;
}
.lifeservice ul li:nth-child(5) i {
    background-position: -18px -85px;
}
.lifeservice ul li:nth-child(6) i {
    background-position: -80px -84px;
}
.lifeservice ul li:nth-child(7) i {
    background-position: -142px -84px;
}
.lifeservice ul li:nth-child(8) i {
    background-position: -206px -83px;
}
.lifeservice ul li:nth-child(9) i {
    background-position: -17px -154px;
}
.lifeservice ul li:nth-child(10) i {
    background-position: -79px -155px;
}
.lifeservice ul li:nth-child(11) i {
    background-position: -142px -150px;
}
.lifeservice ul li:nth-child(12) i {
    background-position: -207px -154px;
}

.bargain {
    margin-top: 5px;
}


/* 首页推荐模块 */
.recom {
    height: 163px;
    margin-top: 12px;
    background-color: #ebebeb;
}
.recom_hd {
    float: left;
    height: 163px;
    width: 205px;
    background-color: gray;
    text-align: center;
    padding-top: 30px;
}
.recom_bd {
    float: left;
}
.recom_bd ul li {
    position: relative;
    float: left;
}
.recom_bd ul li img {
    width: 248px;
    height: 163px;
}
.recom_bd ul li:nth-child(-n+3)::after {
    content: '';
    position: absolute;
    right: 0;
    top: 10px;
    width: 1px;
    height: 145px;
    background-color: #ddd;
}

/* 猜你喜欢 */
.like {
    height: 270px;
    margin-top: 30px;
    
}
.like_hd {
    height: 35px;
    line-height: 35px;
    
}
.like_hd h3 {
    float: left;
    font-size: 17px;
    font-weight: normal;
}
.like_hd i {
    float: right;
    margin-right: 20px;
    cursor: pointer;
}
.like_bd {
    height: 231px;
    border: 1px solid #ccc;
}
.like_bd ul li {
    float: left;
}
.like_bd ul li img{
    height: 229px;
}

/* 楼层区-家电模块 */
.floor .w {
    margin-top: 30px;
}

.box_hd {
    height: 30px;
    border-bottom: 2px solid royalblue;
}
.box_hd h3 {
    float: left;
    font-size: 18px;
    font-weight: 400;
    color: royalblue;
}
.tab_list {
    float: right;
    line-height: 30px;
}
.tab_list ul li {
    float: left;
}
.tab_list ul li a {
    margin: 0 15px;
}

.box_bd {
    height: 361px;
}
.tab_list_item:nth-child(n+2) {
    display: none;
}
.tab_list_item>div {
    float: left;
    height: 361px;
}
.col_1 {
    width: 210px;
    background-color: #f9f9f9;
    text-align: center;
}
.col_1 ul {
    margin-left: 12px;
}
.col_1 ul li {
    float: left;
    width: 85px;
    height: 34px;
    border-bottom: 1px solid #ccc;
    margin-right: 10px;
    text-align: center;
    line-height: 33px;
}
.col_2 {
    width: 329px;
}
.col_3 {
    width: 221px;
    border-right: 1px solid #ccc;
}
.col_4 {
    width: 221px;
    border-right: 1px solid #ccc;
}
.col_5 {
    width: 219px;
}
.border_b {
    /* a包含带宽度的盒子时，需转换为块级元素 */
    display: block;
    border-bottom: 1px solid #ccc;
}

/* 广告logo区 */
.ad_logo ul {
    height: 64px;
    margin-top: 20px;
    /* line-height: 64px; */
    background-color: #f7f7f7;
}
.ad_logo ul li {
    position: relative;
    float: left;
    width: 118px;
    height: 40px;
    border-right: 1px dashed #999;
    margin-top: 13px;
}
.ad_logo ul li img {
    width: 100%;
}
.ad_logo ul li:last-child {
    border-right: 0;
}
